{% extends 'pickpcparts/_base.html' %}

{% load i18n %}

{% block content %}
    <div class="row gap-3">
        <div class="card text-bg-primary" style="height: 12rem">
            <div class="card-body align-content-center text-center">
                <h1 class="card-title">{% trans "Try out our PC builder now" %}</h1>
                <p class="card-text">
                    {% blocktranslate %}
                        We offer over {{ components_total }} components to build a computer of any budget and class
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
        <img src="https://pcbros.tech/cdn/shop/files/DSC02157.jpg" alt="A computer"
             class="rounded-bottom-circle rounded-top-5">
    </div>
    <form class="col w-25" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select class="form-select" name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
        <button class="form-control" type="submit">{% trans "Change language" %}</button>
    </form>
{% endblock %}
