{% extends 'pickpcparts/_base.html' %}

{% block content %}
    <div class="row gap-3">
        <div class="card text-bg-primary" style="height: 12rem">
            <div class="card-body align-content-center text-center">
                <h1 class="card-title">Try out our PC builder now</h1>
                <p class="card-text">We offer over {{ components_total }} components to build a computer of any budget
                    and class</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">Featured Build</div>
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum</h5>
                <p class="card-text">dolor sit amet, consectetur adipiscing elit. Quisque vel justo rutrum, aliquet dui
                    et, rhoncus ligula. Duis vehicula nulla vitae dignissim fermentum. Vestibulum ligula mi, semper
                    gravida dolor fringilla, tincidunt commodo nibh. Integer interdum nisi sit amet justo ultrices
                    placerat. Donec at nulla quis nisl aliquam ullamcorper in in nulla. Duis orci dolor, convallis eu
                    volutpat vitae, rutrum vel mauris. Integer porttitor quam porta, semper velit ut, auctor nulla.
                    Morbi fermentum molestie dolor, quis lobortis turpis imperdiet ac.</p>
            </div>
            <img src="https://pcbros.tech/cdn/shop/files/DSC02157.jpg" class="card-img-bottom" alt="">
        </div>
    </div>
{% endblock %}
