{% extends 'pickpcparts/_base.html' %}

{% load i18n %}

{% block content %}
    <div class="row gap-3">
        <div class="card text-bg-primary" style="height: 12rem">
            <div class="card-body align-content-center text-center">
                <h1 class="card-title">{% trans "Try out our PC builder now" %}</h1>
                <p class="card-text">
                    {% blocktranslate %}
                        We offer over {{ components_total }} components to build a computer of any budget and class
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
        <img src="https://pcbros.tech/cdn/shop/files/DSC02157.jpg" alt="A computer"
             class="rounded-bottom-circle rounded-top-5">
    </div>
    <form action="{% url 'set_language' %}" method="post" class="w-25">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}">
        <div class="input-group">
            <select name="language" class="form-select form-select-sm" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}
