{% extends 'pickpcparts/_base.html' %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
        {% for column in columns %}
            <th scope="col">{{ column }}</th>
        {% endfor %}
        </thead>
        <tbody>
        {% for id, row in rows.items %}
            <tr data-id="{{ id }}">
                {% for val in row.values %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
